/*{
	border: 1px solid Red;
}
/*---------main---------*/
html {
	background-color: #000000;
	color: White;
	font-family: Arial, san-serif;
	font-size: 1em;

}

body {
	display: flex;
	flex-direction: column;
}

img {
	max-width: 90%;
}

.code {
	padding: 2px 10px 2px 10px;
	margin: 5px 3px 5px 3px;
	background-color: rgba(255,255,0,0.35);
	box-sizing: border-box;
	display: inline-block;
	border-radius: 7px;
	font-family: monospace, sans-serif;

}

.blockcode {
	padding: 20px 12px 20px 12px;
	margin: 15px 10px 10px 35px;
	background-color: rgba(255,255,0,0.35);
	box-sizing: border-box;
	display: inline-block;
	border-radius: 20px;
	font-family: monospace, sans-serif;
}
/*---------Navigation---------*/
.navigationbar, .nav a:visited {
	background-color: rgba(0,0,0,0.80);
	color: white;
	font-family: Arial, sans-serif;
	font-size: 1.2em;
    width: 100%;
	text-align: center;
}

.nav a{
	display: inline-block;
	border: 1px solid white;
	box-sizing: border-box;
	margin: 2px 0px;
	min-width: 13%;
	text-decoration: none;
}

.nav a:hover {
	color: red;
	border: 3px double red;
	margin: 0px 10px;
	text-decoration: none;
}

.navActive {
	border: 1px solid red !important;
}
/*---------Footer---------*/
.footer-placeholder {
	margin-top: 5px;
	padding: 10px 12px;
	border-top-color: red;
	border-top: 1px solid;
    min-width: 450px;
	display: flex;
	justify-content: space-between;
}

.footer-box1 {
	margin: 0px;
	padding: 0px;
	border: 1px dotted blue;
    flex-basis: auto;
}
/*---------index.html---------*/
.header-text {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	bottom:20%;
	padding: 25px 0;
}

.header {
	position: fixed;
	top: 40px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	background: url("wallpaper.jpg") no-repeat center; /* Just to visualize the extent */
	background-size: cover;
}

h1{
	font-size: 70px;
	font-weight: 700;
	margin: 0;
	padding-top: 200px;
	text-align: center;  
	background-color: rgba(0,0,0,0.15);
}

.section{
	background-color: rgba(255,255,255,0.22);
	margin: 5px 5%;
	padding: 1px 0 1px 16px;
	display: flex;
    flex-direction: column;
    
}
/*---------html-css.html--------- */
.html-cssheader{
	margin-top: 40px;
}
[class^="BB"]{
	margin-bottom: 13px;
	max-width: 400px;
}

.BBSolid{
	border: solid;
}

.BBDashed{
	border: dashed;
}

.BBDotted{
	border-style: dotted;
}

.BBDouble{
	border-style: double;
}

.BBGroove{
	border-style: groove;
}

.BBInset{
	border-style: inset;
}

.BBOutset{
	border-style: outset;
}

.BBRidge{
	border-style:ridge;
}

.BBHidden{
	border-style: hidden;
}

.Bwidthsample{
	border: solid;    
	border-width: 2px 9px 2px 9px;
	max-width: 400px;
	padding: 10px;
	display: block;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.BorderSample{
	border: 5px double green;
	padding: 10px;
	margin-bottom: 10px;
	display: block;
	max-width: 600px;
	box-sizing: border-box;
}

.BorderRadiusSample{
	border: 5px double yellow;
	border-radius: 20px;
	padding: 10px;
	display: block;
	max-width: 600px;
	box-sizing: border-box;
}
/*---------python.html--------- */
.pythonheader{
	background: url("python/python_logo.png") no-repeat  top center;
	background-size: contain;
	background-attachment: fixed;
	min-height: 400px;
	padding: 20% 0% 15% 0%;
	box-sizing: border-box;
}
/*---------git.html--------- */
.githeader{
	background: url("git/gitlogo.jpg") no-repeat top center;
	background-size: contain;
	background-attachment: fixed;
	width: 100%;
	padding: 24% 0%;
	box-sizing: border-box;
}
/*---------javascript.html---------*/
.javascript-header{
	background: url("javascript/javascriptheader.gif") no-repeat top center;
	background-size: auto;
	background-attachment: fixed;
	padding: 24% 5% 11% 5%;
	box-sizing: border-box;
	min-height: 400px;
}

div.javascript-header h2{
	font-size: 50px;
	text-align: center;
	background-color: rgba(255,0,0,0.7);
}
/*---------jmain.js---------*/
.displayToggle {
	display: none;
}

